<body>

    <section>
  
      <div class="form-box">
  
        <div class="form-value">
  
          <form>
  
            <h2 class="s1" > EVILO</h2>
         
            <div class="inputbox">
  
              
  
              <input type="text" required>
  
              <label>User Name</label>
  
            </div>

            <div class="inputbox">
  
              
  
                <input type="number" required>
    
                <label>Mobile Number</label>
    
              </div>


            <div class="inputbox">
  
              
  
                <input type="email" required>
    
                <label>Email</label>
    
              </div>
  
            <div class="inputbox">
  
             
  
              <input type="password" required>
  
              <label>Password</label>
  
            </div>
  
        
  
            <button>Register</button>
            <div class="register">
  
                <p>Alreay have an account? <a routerLink="/login">Sign In</a></p>
    
              </div>
            
  
          </form>
  
        </div>
  
      </div>
  
    </section>
  
    <!-- ion-icon installation: Start -->
  

  
    <!--ion-icon installation: End-->
  
  </body>