<div class="nv">
  <header id="container">
    <div id="nav-bar">
      <div id="nav-belt">
        <div class="nav-left">
          <div id="nav-logo" style="margin-left: 20px;margin-right: 20px;">
          <img src="/assets/logo3.png" height="100px" width="110px"> 
          </div>
          <div class="" style="margin-top: 10px;background-color: transparent; color: white;">
            <div>EVILO</div>
          </div>
        </div>
        <div></div>
        <div class="nav-fill">
          <div id="nav-search">
            <form id="nav-search-bar-form">
              <!-- <div class="nav-left">
                <a href="">ALL</a>
              </div> -->
              <div class="nav-fill">
                <input type="text">
              </div>
              <div class="nav-right">
                <button type="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
        <div class="nav-right">
          <div id="nav-tools">
           
            <a href="/"><div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent;">
              <i class="fa fa-user-o" aria-hidden="true"></i>  Hello User
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item active ac" routerLink="/login" >Login</a></li>
                <li><a class="dropdown-item ac" routerLink="/signup" >Create New Account</a></li>
                
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item ac" routerLink="/">Log Out</a></li>
              </ul>
            </div></a>
            <a routerLink="/cart" style="font-size: 25px;"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div id="nav-main" style="text-align: center;margin-top: 5px;">
        <div class="container">
        <div class="row">
          <div class="col-3" ><button class="db" routerLink="/product" >Watch</button></div>
          <div class="col-3"><button class="db" routerLink="/product" >Shoe</button></div>
          <div class="col-3"><button class="db" routerLink="/product" >Helmet</button></div>
          <div class="col-3"><button class="db" routerLink="/product" >Tshirt</button></div>
  
        </div>
        </div>
       
      </div>
    </div>
  </header>
  </div>